
<style>
p {
  font-family: "Times New Roman", serif;
  font-size: 18px;
  line-height: 1.6;
  color: #5c9719e3;
  margin-bottom: 15px;}        

#lien1 {color: green;}
#lien3 {color: orange;} 

#lien1:hover {color: red;}
#lien3:hover {color: red;} 

li {
  color: blueviolet;padding-left: 1cm;
}

body {
  width: 90%;
  margin: right;
  background-color: #7cafe9ff;
  background-image: url("https://wallpaperaccess.com/full/317501.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom-right;
}
  header > h1 {
    background-color: #b91f0dbb;
    text-align: center
  }

  q { margin-center; color: red; font-size:160%; background-color: #b1b5b5e4; color: firebrick; border-left: 3px orange solid; padding-left: 20px; padding-top: 20px; padding-bottom: 20px;
    } 

  blockquote.villagers {
    border-left: 6px solid darkorange;
    margin-left: 5px;
    background-color: transparent;
    color: green;
  }
  
  blockquote.farmer {
    border-left: 6px solid darkblue;
    margin-left: 5px;
    background-color: transparent;color: blue;
  }


  q {
    font-style: italic;
  }

  .good {
    color: green;
    font-weight: bold;
  }
  .bad {
    color: red;
    font-weight: bold;
  }

table {
  
  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  tr:nth-child(even) {
    background-color: #7b7b7bbc;
  }
}

ul li:nth-child(1) {
  background-image: url("bien.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 30px;
  line-height: 70px;
}

ul li:nth-child(2) {
  background-image: url("mal.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 30px;
  line-height: 70px;
}

ul li:nth-child(3) {
  background-image: url("chat.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 30px;
  line-height: 70px;
}

#alps {
    flex-direction:column;
    float : right;
    margin: 150px;
    margin-bottom: 10px;
  width: 450px;
  border: 5px solid #555;
  border-radius: 10px;
  box-shadow: 10px 10px 5px grey;
}
#rock {
    flex: row;
    float : top;
    display: inline; : left;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 100px;
  width: 400px;
  border: 5px solid #555;
  border-radius: 10px;
  box-shadow: 10px 10px 5px grey;
}   

#farmer {
    flex:;
    float:inline-end;
        display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border: 5px solid #555;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
}   


</style>